In [1]:
# Answer 1

In [2]:
a = ["jyoti", 90.56, ["mohan", 1, 2, 3, 4, 78.45, True], ("priyanka", 21, 22, 23, True, 45.46)]

In [3]:
type(a)

list

In [4]:
# Answer 2

In [5]:
""" (i)   = string
    (ii)  = string
    (iii) = list
    (iv)  = float"""

' (i)   = string\n    (ii)  = string\n    (iii) = list\n    (iv)  = float'

In [6]:
# Answer 3

In [7]:
# / operator carries out the float division.
7 / 2

3.5

In [8]:
# % operator divides two operands and return reminder after division.
13 % 3

1

In [9]:
# // operator carries out the floor division.
43//4

10

In [10]:
# ** operator raised the power of right operand to left operand.
4**5

1024

In [11]:
# Answer 4

In [12]:
l = [1, 2, 78.65, True, "kanika", False, {"name" : "manisha", "result" : 87.34}, [1,2,3,"ram",True,70.45], {2,4,6,5,8,7,9}, ("monika", False, 87.45)]

In [13]:
type(l)

list

In [14]:
for i in l:
    print (type(i))
    print(i)

<class 'int'>
1
<class 'int'>
2
<class 'float'>
78.65
<class 'bool'>
True
<class 'str'>
kanika
<class 'bool'>
False
<class 'dict'>
{'name': 'manisha', 'result': 87.34}
<class 'list'>
[1, 2, 3, 'ram', True, 70.45]
<class 'set'>
{2, 4, 5, 6, 7, 8, 9}
<class 'tuple'>
('monika', False, 87.45)

In [15]:
# Answer 5

In [16]:
A = int(input("enter number A"))
B = int(input("enter number B"))
count = 0
while A % B == 0:
    A = A / B
    count += 1
if count >0:
    print(f"number is purely divisible by {B}")
    print(f"division count : {count}")
else:
     print(f"number is not purely divisible by {B}")

enter number A 56
enter number B 8

number is purely divisible by 8
division count : 1

In [17]:
# Answer 6

In [18]:
number = [34,12,24,35,67,89,78,27,30,45,69,53,62,97,85,75,83,54,87,46,72,34,50,67,56]

In [19]:
len(number)

25

In [20]:
for i in number:
    if i%3==0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

34 is not divisible by 3
12 is divisible by 3
24 is divisible by 3
35 is not divisible by 3
67 is not divisible by 3
89 is not divisible by 3
78 is divisible by 3
27 is divisible by 3
30 is divisible by 3
45 is divisible by 3
69 is divisible by 3
53 is not divisible by 3
62 is not divisible by 3
97 is not divisible by 3
85 is not divisible by 3
75 is divisible by 3
83 is not divisible by 3
54 is divisible by 3
87 is divisible by 3
46 is not divisible by 3
72 is divisible by 3
34 is not divisible by 3
50 is not divisible by 3
67 is not divisible by 3
56 is not divisible by 3

In [21]:
# Answer 7

In [22]:
"""Mutable data types allows data to change after creation, immutable data type doesn't allow.
List, dictionary and set are mutable data types. 
Integer,float,bool,string and tuple are immutable data types. examples are below:"""

"Mutable data types allows data to change after creation, immutable data type doesn't allow.\nList, dictionary and set are mutable data types. \nInteger,float,bool,string and tuple are immutable data types. examples are below:"

In [23]:
# mutable data type
L = [1,2,3,4,"ram",True,98.56]

In [24]:
L[4] = "sita"

In [25]:
L

[1, 2, 3, 4, 'sita', True, 98.56]

In [26]:
# immutable data type
r = "radha"

In [27]:
r[2] = "t"

TypeError: 'str' object does not support item assignment